<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <link href="./css/output.css" rel="stylesheet">
  </head>
  <body>
    {{ message }}
    <h1 class="text-3xl font-bold underline">
      Hello world!
    </h1>
    匯率
    <table class="table-auto">
      <thead>
        <tr>
          <td>
            幣別
          </td>
          <td>
            匯率
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            買入
          </td>
          <td>
            賣出
          </td>
          <td>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            美金
          </td>
          <td>
            27.34
          </td>
          <td>
            28.01
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
